@page
@model AspNetCore31Tc.Pages.BookList.IndexModel

<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Book List</h2>
    </div>
    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control">Create New Book</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Books.Any())
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Books.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().Author"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().Isbn"></label>
                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach (var item in Model.Books)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(i => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(i => item.Author)
                            </td>
                            <td>
                                @Html.DisplayFor(i => item.Isbn)
                            </td>
                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure?')" class="btn btn-danger btn-sm">Delete</button>
                                <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Edit</a>
                            </td>
                        </tr>
                    }

                </table>
            }
            else
            {
                <p>No books available.</p>
            }
        </form>
    </div>

    @*<div class="col-12">
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Column 1</th>
                        <th>Column 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Row 1 Data 1</td>
                        <td>Row 1 Data 2</td>
                    </tr>
                    <tr>
                        <td>Row 2 Data 1</td>
                        <td>Row 2 Data 2</td>
                    </tr>
                </tbody>
            </table>
        </div>*@

    <div class="col-12 border p-3 mt-3">

        <table id="DT_load" class="table table-striped border" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        ISBN
                    </th>
                    <th>

                    </th>
                </tr>

            </thead>
        </table>

    </div>

</div>

@section Scripts{

    <script src="~/js/bookList.js"></script>

    <script>
        $(document).ready(function () {

            //Swal.fire({
            //    title: 'Error!',
            //    text: 'Do you want to continue',
            //    icon: 'error',
            //    confirmButtonText: 'Cool'
            //})

            //toastr.info('Are you the 6 fingered man?');

            //$('#table_id').DataTable();
        });
    </script>


}
